*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

/* FONT COLORS */

section {
    padding: 100px 0;
}

.whiterFont {
    color: #F9FAF8;
}

.secondaryText {
    color: #E5E7EB;
}

.images,
.third {
    color: #1F2937;
}

/* BG COLORS */

header, 
.headline,
footer {
    background: #1F2937;
}

.placeholder {
    background-color: #6e7074;
}

.third {
    background-color: #E5E7EB;
}

.content {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px 36px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* HEADER SECTION  */

header {
    padding: 16px 0;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.headerLogo {
    font-size: 24px;
    font-weight: 800;
    margin-right: auto;
}

/* MAIN SECTION */

h1 { 
    font-size: 48px;
}

.secondaryText {
    font-size: 18px;
}


.headline {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: stretch;
    gap: 64px;
}

.container div {
    flex: 1;
}

.leftSide>.secondaryText {
 margin-bottom: 12px;
}

.container>.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGES SECTION */

section.images {
    padding-top: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 36px 0;
}

.image {
    content: "";
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card {
 flex-direction: column;
 align-items: center;
 width: 170px;
}

.image {
    flex:0 0 auto;
}

.subtext {
    margin-top: 8px;
    text-align: center;
}

/* QUOTE SECTION */

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: right;
    margin-right: 48px;
    font-weight: 800;
    font-size: 24px;
}

/* SIGNUP SECTION */

h3 {
    font-weight: 800;
    font-size: 24px;
}

.content {
    padding: 36px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content button {
    border: 2px solid #F9FAF8;
}

/* FOOTER */

footer {
    padding: 36px 0;
    text-align: center;
}